<footer class="footer">
  <p>This site will take a message of your choice, save it, and give you a link to share it to whoever you want.<br>
  The message will only be viewable once and then be destroyed.</p>
</footer>